version: '3.8'

services:
  backend:
    build: .
    container_name: nodejs-backend
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/${MONGO_DATABASE}?authSource=admin
      - PORT=3000
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  mongodb:
    image: mongo:7
    container_name: app-mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    ports:
      - "27018:27017"
    volumes:
      - app_mongodb_data:/data/db
    networks:
      - app-network
    restart: unless-stopped

volumes:
  app_mongodb_data:
    driver: local

networks:
  app-network:
    driver: bridge
